<style>
    .risk-block-info__content{ 
        vertical-align: top;
        padding-left: 5px;
    }

    .risk-person-value {
        width: 100%;
        font-size: 0.5em;
        color:#7D7D7D;
        text-align: center;
    }

    .risk-block-info__risk-title{
        font-weight: bold;
        font-size: 0.8em;
    }

    .risk-block-info__factor{ 
        font-size: 0.6em;
    }

    .title-block-info-preventable{
        margin-top: 4px;
    }

    .risk-block-info { 
        width: 100%;
        border-bottom: 1px solid #DAD9D9;
        padding-bottom: 20px;
    }
</style>
<div class="risk-block-info">
    <table>
    <tbody>
        <tr>
            <td>
                <div class="risk-person-icon">
                    <% let className = 'risk-indicator-green'; %>
                    <% let riskTitle = 'Низкий риск'; %>
                    <% if( section.resultRisk == 3 ) { className = 'risk-indicator-red'; riskTitle = 'Высокий риск'; } %>
                    <% if( section.resultRisk == 2 ) { className = 'risk-indicator-yellow'; riskTitle = 'Средний риск'; } %>
                    <%- include('./person-icon',{width: 80, height: 90, className:className}); %> 
                </div>
                <div class="risk-person-value"><%= riskTitle %></div>
            </td>
            <td class="risk-block-info__content">
                <div class="title-block-risk"><%= title %></div>
                <div class="title-block-info__preventable-factor">
                    <% let resultRiskValue = 'low'; %>
                    <% if ( section.resultRisk == 2 ){ resultRiskValue = 'averageRisk' }
                       else if( section.resultRisk == 3 ){ resultRiskValue = 'highRisk' }; %>
                    <div class="title-block-info__title">
                        <div class="risk-block-info__risk-title">
                            Не предотвратимые факторы: 
                        </div>
                        <% if (resultRiskValue!='low') { %>
                            <%  for( let unpreventableFactor of  section[resultRiskValue].unpreventableFactors ) { %> 
                                <div class="risk-block-info__factor"><%=unpreventableFactor%></div>
                            <% } %>
                        <%  } %>
                    </div>
                    
                </div>    
                <div class="title-block-info-preventable">
                    <div class="title-block-info__title">
                        <div class="risk-block-info__risk-title">
                            Предотвратимые факторы: 
                        </div>
                        <% if (resultRiskValue!='low') { %>
                            <%  for( let preventableFactor of  section[resultRiskValue].preventableFactors ) { %> 
                                <div class="risk-block-info__factor"><%=preventableFactor%></div>
                            <% } %>
                        <%  } %>
                    </div>

                </div>
            </td>
        </tr>
        
    </tbody>
    </table>
</div>